wmt_item_ids.txt
asset_urls_5m_.txt
old
*.out
*.txt
*.log
*junk*
*Prab*
*png
*jpeg
deprecated
track*
ingest_5m*
ingest_spark_500k*
spark_product_*
../product_change_attributes/deprecated/
check_local_mode.py
*bad*
