*sql*
archive/*
../MyTableauWorkBooks
*out2
productId4ProductType*
*.ref
product_top_attributes_udf_20180216.py
debug*
product_top_attributes_cron_prod.py
*.pyc
*.sample
*.pdf
*.docx
*.log
*hql
*out
*json
*txt
*jsondiff.py
results*.py
spark_product_changed_attributes.py
product_attributes_list.py
product_udf_jsondiff2.py
product_attributes_updated_daily_cron.py
deprecated
*bad*
*v7*
ddl_validations1.hql
*error*
product_top_attributes_cron_v18.py
*.pptx
